<!doctype html>
<html lang="en" style="background-color: var(--background-base)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Unlimit Code</title>
    <link rel="icon" type="image/png" href="./unlimit-code-icon.png" sizes="128x128" />
    <link rel="apple-touch-icon" sizes="128x128" href="./unlimit-code-icon.png" />
    <meta name="theme-color" content="#fdfcfc" />
    <meta property="og:image" content="./unlimit-code-icon.png" />
    <meta property="twitter:image" content="./unlimit-code-icon.png" />
    <script id="oc-theme-preload-script" src="./oc-theme-preload.js"></script>
  </head>
  <body class="antialiased overscroll-none text-12-regular overflow-hidden">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" class="flex flex-col h-dvh"></div>
    <script src="./index.tsx" type="module"></script>
  </body>
</html>
